body {
  background-color: #ecdb79;
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: #e2a98a;
  text-align: center;
  background-image: url("natureza01.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

p {
  font-size: 14px;
}

a {
  width: 60px;
  padding: 10px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #be9682;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a img {
  max-width: 100%;
}
